
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color:hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 11px; 

}

.qr-code{
 
     width:220px;
    height: 350px;
    background-color: white;
    padding: 0px;
    border-radius:20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
}


.con{
    transform: scale(1.3);
    padding-top:7%;
    padding-left:2%;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}

 img {
       
        display: block; 
        width: 500 px; 
        height: auto; 
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow:0 4px 6px rgba(0,0,0,0.1) ;
  }

#qr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5%;
}

p{
   
    color: hsl(216, 15%, 48%);
    margin-top: 4px;
    padding-left: 7%;
    padding-right:7%;
    font-size: 11px;
    line-height: 1.5;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    margin-top: 15px;
   padding-left: 8%;
   padding-right: 8%;
}
 



@media (max-width: 768px) {
    body {
        justify-content: flex-start; 
        padding-top: 20px;  
        margin: 20%;      
         
    }
 }
   
